# Environnement / OS
*.log
.DS_Store
Thumbs.db

# Fichiers d'environnement
.env
.env.backup
.env.production
/auth.json

# IDE / outils
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed

# Backend Laravel
backend/node_modules
backend/public/build
backend/public/hot
backend/public/storage
backend/storage/*.key
backend/storage/pail
backend/vendor
backend/Homestead.json
backend/Homestead.yaml
